<%# <p style="color: green"><%= notice %></p>



<div class="container">
   <h3><%= current_user.email%> </h3>
   <h4 class="font-bold">Users </h4>

   <%= render @users %>

    <h4 class="font-bold">Rooms </h4>

    <%= render @rooms %>

</div>